@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: "Titillium Web", sans-serif;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

p.subtitle {
  font-size: 1.2rem;
}

.--btn {
  display: inline-block;
  margin: 0 15px;
  padding: 16px 35px;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #777777;
  border-radius: 4px;
}
.--btn.--btn-primary {
  background-color: #212121;
  color: #FFFFFF;
}
.--btn.--btn-secondary {
  background-color: #FFFFFF;
  color: #212121;
}
.--btn.--btn-sm {
  padding: 8px 24px;
}
.--btn.--btn-cta {
  -webkit-animation: blink 0.5s none 0s infinite alternate;
          animation: blink 0.5s none 0s infinite alternate;
}
@-webkit-keyframes blink {
  from {
    opacity: 0.5;
    scale: 1;
  }
  to {
    opacity: 1;
    scale: 1.05;
  }
}
@keyframes blink {
  from {
    opacity: 0.5;
    scale: 1;
  }
  to {
    opacity: 1;
    scale: 1.05;
  }
}

header {
  background-color: #212121;
  padding: 15px 0;
}
header .--header_container {
  max-width: min(1200px, 90%);
  margin: auto;
}
header .--header_container .--socials {
  max-width: 300px;
  margin-left: auto;
  text-align: right;
}
header .--header_container .--socials a {
  margin: 0 12px;
}
header .--header_container .--socials i {
  color: #FFFFFF;
}

#root {
  max-width: min(1200px, 90%);
  margin: auto;
}
#root section#hero {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}
#root section#hero .--hero_right p {
  font-size: 1.3rem;
  line-height: 2rem;
}
#root section#about {
  padding: 50px 0;
}
#root section#about p {
  font-size: 1.1rem;
  line-height: 1.8rem;
}
#root section#projects {
  padding: 50px 0;
}
#root section#projects .--projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}
#root section#projects .--projects-grid .--project-item:hover .--project-img {
  filter: grayscale(0);
}
#root section#projects .--projects-grid .--project-item .--project-img {
  filter: grayscale(1);
  transition: filter 0.25s ease-out;
}
#root section#projects .--projects-grid .--project-item .--project-img img {
  width: 100%;
}
#root section#projects .--projects-grid .--project-item .--project-meta {
  margin: 16px 0;
}
#root section#projects .--projects-grid .--project-item .--project-meta h4 {
  font-size: 1.15rem;
}
#root section#projects .--projects-grid .--project-item .--project-meta ul {
  list-style-type: none;
}
#root section#projects .--projects-grid .--project-item .--project-meta ul li {
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-gap: 8px;
  margin: 8px 0;
  align-items: center;
}
#root section#projects .--projects-grid .--project-item .--project-meta ul li i {
  text-align: center;
  display: inline-block;
}
#root section#projects .--projects-grid .--project-item .--project-meta ul li p {
  margin: 0;
  display: inline-block;
}
#root section#projects .--projects-grid .--project-item .--project-meta ul li p.--error {
  font-style: italic;
  color: red;
}
#root section#projects .--projects-grid .--project-item .--project-meta ul li a {
  text-decoration: underline;
  color: #212121;
}
@media screen and (max-width: 768px) {
  #root section#hero {
    grid-template-columns: 1fr;
  }
  #root section#projects .--projects-grid {
    grid-template-columns: 1fr;
    grid-gap: 75px;
  }
}/*# sourceMappingURL=style.css.map */